profiles {
    standard {
        process.executor = 'local'
    }

    york_viking {
        process {
            executor = 'slurm'
            cpus = 1
            errorStrategy = { task.exitStatus in [125, 137, 140] ? 'retry' : 'finish' }
            maxRetries = 3
            withLabel: small {
                executor = 'local'
            }
            withName: create_tiff_stack {
                maxRetries = 0
                errorStrategy = 'ignore'
            }
            withName: track_images {
                maxRetries = 1
                clusterOptions '--cpus-per-task=32 --ntasks=1'
            }
            withName: segment_image_gpu {
                clusterOptions '--gres=gpu:1'
                queue { task.attempt == 1 ? 'gpu_short' : 'gpu' }
            }
        }
        // TODO add exemption for retries for create tiff stack
        executor {
            $slurm {
                account = "biol-imaging-2024"
                queueSize = 1000
            }
        }
    }
}

apptainer {
    enabled = true
}
