executor {
    $slurm {
        account = "biol-imaging-2024"
        queueSize = 1000
    }
}
process {
    withLabel: slurm {
        executor = 'slurm'
        cpus = 1
    }
    withLabel: slurm_retry {
        errorStrategy = { task.exitStatus in [125, 137, 140] ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withLabel: local {
        executor = 'local'
    }
}
