profiles {
    standard {
        process.executor = 'local'
    }

    york_viking {
        process {
            cpus = 1
            errorStrategy = { task.exitStatus in [125, 137, 140] ? 'retry' : 'finish' }
            maxRetries = 3

            withLabel: small {
                executor = 'local'
            }

            withName: create_tiff_stack {
                maxRetries = 0
                errorStrategy = 'ignore'
                time = 30.minute
                memory = 8.GB
            }

            withName: segment_image {
                time = { params.folder_names.image_type == 'HT2D' ? 20.minute * task.attempt : 5.minute * task.attempt }
                memory = { params.folder_names.image_type == 'HT2D' ? 16.GB * task.attempt : 8.GB * task.attempt }
		containerOptions = '--env "CELLPOSE_LOCAL_MODELS_PATH=/mnt/scratch/projects/biol-imaging-2024/cellpose"'
            }

            withName: segment_image_gpu {
                time = { 30.minute * task.attempt }
                clusterOptions = '--gres=gpu:1'
                queue = { task.attempt == 1 ? 'gpu_short' : 'gpu' }
		containerOptions = '--env "CELLPOSE_LOCAL_MODELS_PATH=/mnt/scratch/projects/biol-imaging-2024/cellpose"'
            }

            withName: segmentation_qc {
                time = { 10.minute * task.attempt }
                memory = { 16.GB * task.attempt }
            }

            withName: tracking_qc {
                time = { 10.minute * task.attempt }
                memory = { 16.GB * task.attempt }
            }

            withName: track_images {
                maxRetries = 1
                clusterOptions = '--cpus-per-task=32 --ntasks=1'
                time = { params.folder_names.image_type == 'HT2D' ? 240.minute * task.attempt : 40.minute * task.attempt }
                memory = { params.folder_names.image_type == 'HT2D' ? 256.GB * task.attempt : 32.GB * task.attempt }
            }

            withName: parse_trackmate_xml {
                time = { 20.minute * task.attempt }
                memory = { 8.GB * task.attempt }
            }

            withName: filter_size_and_observations {
                time = { 5.minute * task.attempt }
                memory = { 8.GB * task.attempt }
            }

            withName: cellphe_frame_features_image {
                time = { params.folder_names.image_type == 'HT2D' ? 20.minute * task.attempt : 5.minute * task.attempt }
                memory = { params.folder_names.image_type == 'HT2D' ? 128.GB * task.attempt : 16.GB * task.attempt }
            }

            withName: combine_frame_features {
                time = { 5.minute * task.attempt }
                memory = { 4.GB * task.attempt }
            }

            withName: create_frame_summary_features {
                time = { 15.minute * task.attempt }
                memory = { 4.GB * task.attempt }
            }

            withName: cellphe_time_series_features {
                time = { 30.minute * task.attempt }
                memory = { 4.GB * task.attempt }
            }

            withName: rename_frames {
                time = { 5.minute * task.attempt }
                memory = { 4.GB * task.attempt }
            }

            withName: split_stacked_tiff {
                time = { 5.minute * task.attempt }
                memory = { 4.GB * task.attempt }
            }

        }
        executor {
            name = 'slurm'
            account = "biol-imaging-2024"
            queueSize = 1000
        }
    }
}

apptainer {
    enabled = true
}
